[Unit]
Description=server_activity_leds - Server HDD/Network activities to LEDs
Requires=systemd-networkd.service

[Service]
Environment="SAL_DISK_LABEL=sda"
Environment="SAL_NET_INTERFACE=eno1"
ExecStart=/opt/server_activity_leds/server-activity-leds

[Install]
WantedBy=multi-user.target
